* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #10684d;
}
#dealer-wins-text-area {
  color: red;
  background: white;
  border: solid 3px #e6db0b;
  font-size: 18pt;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}
#player-wins-text-area {
  color: green;
  background: white;
  border: solid 3px #e6db0b;
  font-size: 18pt;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
}

.playing-table-area {
  /*width: 1000px;*/
}

/* Style the header */
.header {
  /*background-color: #0a0000;*/
  background-color: #013325;
  padding: 20px;
  text-align: center;
  color: #f2f2f2;
  letter-spacing: 10px;
  font-variant: all-small-caps;
  font-size: 20px;
}
p.header-icon-red, p.header-icon-black {
    display: inline;
    padding: 0 10px;
    font-size: 30pt;
}
p.header-icon-red {
    color: red;
}
#header-subtext {
  letter-spacing: 7px;
  font-weight: bold;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three columns*/
.dealer-column {
  width: 40%;
  padding: 15px;
  margin-left: 10px;
}
.player-column {
  width: 40%;
  padding: 15px;
}
.deck-column {
  width: 20%;
  padding: 15px;
  float: right;
}
.dealer-column, .player-column {
  float: left;
}
.deck-column {
  float: right;
  display: none;
}

/* Don't clear floats after the columns -- allows showing shuffled cards on right properly */
.row:after {
  content: "";
  display: table;
  clear: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
#dealer-header-area {
  color: white;
  margin: 5px;
  padding: 5px;
}
p#dealer-text-area {
    display: none;
}
#player-header-area {
  color: white;
  margin: 5px;
  padding: 5px;
}
p#player-text-area {
    display: none;
}
/* Buttons */
.buttonarea {
  padding-left: 25%;
  float: left;
  position: absolute;
  bottom: 50px;
}
#new-game-button {
  background-color: #251582;
  border-radius: 5px;
  color: white;
  padding: 20px 40px;
  font-size: large;
  margin: 5px;

}
#new-game-button:hover {
  background-color: #492fdd;
  transform: scale(1.1);
  color: white;
}

#hit-button {
  background-color: #492fdd;
  border-radius: 5px;
  color: white;
  padding: 20px 40px;
  font-size: large;
  transition-duration; 0.3s;
  margin: 5px;
}
#hit-button:hover {
  background-color: #2f8ddd;
  transform: scale(1.1);
  color: white;
}

#stay-button {
  background-color: #d9443f;
  border-radius: 5px;
  color: white;
  padding: 20px 40px;
  font-size: large;
  margin: 5px;
}
#stay-button:hover {
  background-color: #fc231c;
  transform: scale(1.1);
  color: white;
}
.game-text-area {
  position: absolute;
  bottom: 10px;
  left: 40%;
}

/* Begin card styling area */
.card {
  padding: 10px;
  border: solid 2px black;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 16pt;
  text-align: left;
  color:black;
  margin: 3px;
  width: 50px;
  height: 80px;
}
