html{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(.8em + .5vw);
    padding: 5px;
}
body{
    /*background-color: #343434;*/
    background: rgb(52,52,52);
    background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(6,6,6,1) 52%);
    color: white;
}
hr {
    border-color: rgb(73, 73, 73);
    border-top: none;
}
#page-header {
    font-size: 3.5vw;
}
#main-nav {
    font-size: 1.6vw;
}
.main-button {
    color: white;
    text-decoration: none;
    border: 2px solid rgb(0, 156, 255);
    background-color: rgb(0, 131, 213);
    border-radius: 3px;
    /*padding: 10px 15px 7px 15px;*/
    padding: 1vw;
    margin: 8px;
    font-size: 1.6vw;
}
#active-button {
    background-color: transparent;
}
.main-button:hover {
    background-color: rgb(0, 156, 255);
    /*padding: 10px 15px 7px 15px;*/
}
.fa {
    margin-right: 5px;
    font-size: 2.3vw;
    vertical-align: text-bottom;
    /*min-font-size: 1.4vw;*/
}
#left-panel {
    font-size: 1.2vw;
    width: 65%;
    float: left;
    margin-left: 10px;
}
#right-panel {
    font-size: 1.2vw;
    width: 25%;
    float: right;
    margin-right: 10px;
}
.experience-section {
    letter-spacing: .1vw;
    margin: 30px 0;
}
.details-section {
    letter-spacing: .1vw;
    margin-bottom: 30px;
    position: relative;
}
.experience-header {
    font-variant: small-caps;
    overflow: hidden;
    color: rgb(0, 156, 255);
    font-size: 3vw;
}
.experience-header:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 20px;
    border-top: 1px solid rgb(0, 156, 255);
}
.details-header {
    font-variant: small-caps;
    overflow: hidden;
    color: rgb(0, 156, 255);
    font-size: 3vw;
}
.details-header:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 20px;
    border-top: 1px solid rgb(0, 156, 255);
}
.job-title-company {
    line-height: .5vw;
    letter-spacing: .15vw;
}
.job-dates-location {
    font-weight: 400;
}
.tag {
    display: inline;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.tag-text {
    display: inline;
}
.dev-stage {
    font-variant: all-small-caps;
    font-size: smaller;
    display: initial;
    color: rgb(43, 238, 43);
    padding: 5px;
    border-radius: 3px;
    vertical-align: top;
}
@media only screen and (max-width: 899px) {
    #page-header {font-size: 5vw;}
    .main-button {font-size: 3vw;}
    #left-panel {
        width: 100%;
        margin-left: revert;
    }
    #right-panel {
        width: 100%;
        margin-right: revert;
    }
    .experience-header, .details-header {font-size: 4vw;}
    .experience-section, .details-section {font-size: 2vw;}
}