* { 
  margin: 0; 
  padding: 0; 
  border: none; 
  font-family: Libre Baskerville;
  font-size: 17px;
}

body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*text-transform: uppercase;*/
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20px;
  width: 800px;
  text-transform: uppercase; /*Make form headings uppercase*/
}

input[type=submit]{
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}
input[type=submit]:hover {
  /*background-color: #45a049;*/
  background-color: #6e6e6e;
}

input[type=text],[type=tel], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}